{% extends "layout.html" %}
{% from "macros.html" import productDiv with context %}
{% block loginBar %}
{{ super() }}
{% endblock %}
{% block navBar %}
{% endblock %}
{% block container %}
	<div id="profile-row" class="row">
		<div id="add-edit-delete" class="col-xs-12 col-md-12">
			<a href="{{url_for('newProduct')}}">Add a product</a> |
			Edit User |
			<a href="{{url_for('deleteUser', user_id = user.id)}}">Remove account</a>
		</div>
		<div id="profile-info" class="col-xs-12 col-md-12">
			<form method="POST" action="{{url_for('editUser', user_id = user.id)}}">
				{{form.csrf_token}}
				{{form.name.label}}  {{ form.name }}
				<br><br><input type="submit" value="Edit">
			</form>
		</div>
	</div>
	<div id="items-selling-row" class="row">
		<div id="items-selling" class="col-xs-12">
			Items current being sold
			{% for product in user.products %}
			{{productDiv(product, True)}}
			{% endfor %}
		</div>
	</div>
{% endblock %}