{% extends "layout.html" %}
{% from "macros.html" import productDiv with context %}
{% block loginBar %}
{{ super() }}
{% endblock %}
{% block container %}
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<form method="POST" action="{{url_for('editProduct', product_id = product.id)}}" enctype="multipart/form-data">
				{{ form.csrf_token}}
			    {{ form.name.label }} {{ form.name(size=20) }}
			    <br>{{ form.price.label}} {{ form.price }}
			    <br>{{ form.description.label}} {{ form.description }}
				<br>{{ form.category_id.label }} {{ form.category_id }}
				<br>{{ form.image.label }} {{ form.image }}
			    <br><br><input type="submit" value="Confirm">
			</form>
		</div>
	</div>
{% endblock %}
		