{% from "macros.html" import loginBar with context %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
		<script>
		    function start() {
		      	gapi.load('auth2', function() {
		        	auth2 = gapi.auth2.init({
		          	client_id: '877465468733-acnamd40pbgm2ls7m530sd9b2angdihi.apps.googleusercontent.com',
		          	// Scopes to request in addition to 'profile' and 'email'
		          	scope: 'profile openid email'
		        	});
		      	});
		    }
		</script>
		<title>{% block title %}StuffMart{% endblock %}</title>
	</head>
	<body>
		<script>
		  // This is called with the results from from FB.getLoginStatus().
		  function statusChangeCallback(response) {
		    // The response object is returned with a status field that lets the
		    // app know the current login status of the person.
		    // Full docs on the response object can be found in the documentation
		    // for FB.getLoginStatus().
		    if (response.status === 'connected') {
		      // Logged into your app and Facebook.
		    } else if (response.status === 'not_authorized') {
		      // The person is logged into Facebook, but not your app.

		    } else {
		      // The person is not logged into Facebook, so we're not sure if
		      // they are logged into this app or not.

		    }
		  }

		  // This function is called when someone finishes with the Login
		  // Button.  See the onlogin handler attached to it in the sample
		  // code below.
		  function checkLoginState() {
		    FB.getLoginStatus(function(response) {
		      statusChangeCallback(response);
		    });
		  }

		  function sendTokenToServer() {
		  	var access_token = FB.getAuthResponse()['accessToken'];
		  	FB.api('/me', function(response) {
		  		console.log('Successful login for: ' + response.name);
		  		$.ajax({
		  			type: 'POST',
		  			url: '/facebook-login?facebook_state_token={{generateStateToken("facebook")}}',
		  			processData: false,
		  			data: access_token,
		  			contentType: 'application/octet-stream; charset=utf-8',
		  			success: function(result) {
		  				window.location.reload()
		  			}
		  		})
		  	});
		  }

		  window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '1732851866945983',
			    cookie     : true,  // enable cookies to allow the server to access 
			                        // the session
			    xfbml      : true,  // parse social plugins on this page
			    version    : 'v2.2' // use version 2.2
			  });

			  // Now that we've initialized the JavaScript SDK, we call 
			  // FB.getLoginStatus().  This function gets the state of the
			  // person visiting this page and can return one of three states to
			  // the callback you provide.  They can be:
			  //
			  // 1. Logged into your app ('connected')
			  // 2. Logged into Facebook, but not your app ('not_authorized')
			  // 3. Not logged into Facebook and can't tell if they are logged into
			  //    your app or not.
			  //
			  // These three cases are handled in the callback function.

			  FB.getLoginStatus(function(response) {
			    statusChangeCallback(response);
			  });
		  };

		  // Load the SDK asynchronously
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="container">
			<div id="banner" class="row">
				<a href="{{url_for('home')}}">
					<div id="logo" class="col-xs-6 col-md-6">
						<img src="{{url_for('static', filename='StuffMartLogo.png')}}" alt="StuffMart">
					</div>
					<div id="company-name" class="col-xs-6 col-md-6">
						<h1>StuffMart<br><small>You want stuff?<br>Yeah, we got stuff.</small></h1>
					</div>
				</a>
			</div>

			{% block loginBar %}
				{{ loginBar(queryCurrentUser()) }}
			{% endblock %}

			{% block navBar %}
			<div id="nav-row" class="row">
				<div id="nav" class="col-xs-12 col-md-12 navigation">
					<div id="category-selection" class="dropdown btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Shop by category <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{% for category in getCategories() %}
							<li><a href="{{url_for('category', category_name = category.name)}}">{{category.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<form id="search-box" method="GET" action="/search">
						<input name="query" class="form-control" type="search" value="{{query}}" placeholder="Search for products">
					</form>
				</div>
			</div>
			{% endblock %}
			{% block container %}
			{% endblock %}
		</div>
	</body>
</html>
